<h2 class="text-3xl font-medium text-gray-800">Emendas</h2>
<p class="mt-2 text-sm text-gray-500">Rota onde vai ficar a tabela de emendas.</p>
<hr class="pt-5">

<div class="rounded">
<table class="min-w-full divide-y divide-gray-200 shadow-sm">
	<thead class="bg-gray-50">
		<tr>
			<th scope="col" class="px-12 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">ID</th>
			<th scope="col" class="px-12 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">Data de Indicação</th>
			<th scope="col" class="px-12 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">Número do Ofício</th>
			<th scope="col" class="px-12 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">Identificação Interna</th>
			<th scope="col" class="px-12 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">Área da Emenda</th>
			<th scope="col" class="px-12 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">Valor Indicado</th>
			<th scope="col" class="px-12 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">Valor Pago</th>
		</tr>
	</thead>
	<tbody class="bg-white divide-y divide-gray-200">
		<tr *ngFor="let emenda of emendas.content">
			<td class="px-12 py-4 text-sm font-medium whitespace-nowrap">{{ emenda.id }}</td>
			<td class="px-12 py-4 text-sm font-medium whitespace-nowrap">{{ emenda.dataIndicacao }}</td>
			<td class="px-12 py-4 text-sm font-medium whitespace-nowrap">{{ emenda.numeroOficio }}</td>
			<td class="px-12 py-4 text-sm font-medium whitespace-nowrap">{{ emenda.identificacaoInterna }}</td>
			<td class="px-12 py-4 text-sm font-medium whitespace-nowrap">{{ emenda.areaEmenda.nomeAreaEmenda }}</td>
			<td class="px-12 py-4 text-sm font-medium whitespace-nowrap">{{ emenda.valorIndicado }}</td>
			<td class="px-12 py-4 text-sm font-medium whitespace-nowrap">{{ emenda.valorPago }}</td>
		</tr>
	</tbody>
</table>

</div>

